function Random.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push constant 512
pop static 1
push constant 256
pop static 2
push constant 100
pop static 0
push constant 0
pop this 0
push pointer 0
return
function Random.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Random.randomX 1
push argument 0
pop pointer 0
push static 1
push argument 1
add
push static 0
add
pop this 0
push this 0
push static 1
sub
pop local 0
label WHILE_EXP0
push local 0
push static 1
gt
not
if-goto WHILE_END0
push local 0
push static 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 508
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 508
pop local 0
label IF_FALSE0
push local 0
push constant 4
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 4
pop local 0
label IF_FALSE1
push local 0
return
function Random.randomY 1
push argument 0
pop pointer 0
push static 2
push argument 1
add
push static 0
add
pop this 1
push this 1
push static 2
sub
pop local 0
label WHILE_EXP0
push local 0
push static 2
gt
not
if-goto WHILE_END0
push local 0
push static 2
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 252
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 252
pop local 0
label IF_FALSE0
push local 0
push constant 4
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 4
pop local 0
label IF_FALSE1
push static 0
push constant 100
add
pop static 0
push local 0
return
